@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);



.card-dos {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: 250px;
  background-color: #292929;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.icon-dos {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width: 80px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}

.icon-dos svg {
  fill: white;
}

.card-dos .title-dos {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card-dos .text-dos {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
}

.card-dos:hover {
  height: 300px;
}

.card-dos:hover .text-dos {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 40px;
}

.card-dos:hover .icon-dos {
  background-position: -120px;
  transition: all 0.3s ease;
}

.card-dos:hover .icon-dos svg path {
  fill: url('#gradientColor');
  transition: all 0.3s ease;
}


  .container-Class{
    display: flex;
    justify-content: space-between; 
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
  }

  .card-dos {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: 250px;
  background-color: #292929;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 20px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.icon-dos {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width: 80px;
  background: linear-gradient(90deg, #7eaaff 0%, #ff48fb 40%, rgba(0, 0, 0, 0.28) 60%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}

.icon-dos svg {
  fill: white;
}

.card-dos .title-dos {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card-dos .text-dos {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
}

.card-dos:hover {
  height: 300px;
}

.card-dos:hover .text-dos {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 40px;
}

.card-dos:hover .icon-dos {
  background-position: -120px;
  transition: all 0.3s ease;
}

.card-dos:hover .icon-dos svg path {
  fill: url('#gradientColor');
  transition: all 0.3s ease;
}


  .container-Class{
    display: flex;
    justify-content: space-between; 
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
  }



  /* --------------------------------------- */
  .card-dos-exc {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: 250px;
    background-color: #292929;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
  
  .icon-dos-exc {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width: 80px;
    background: linear-gradient(90deg, #7eaaff 0%, #ff48fb 40%, rgba(0, 0, 0, 0.28) 60%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
  }
  
  .icon-dos-exc svg {
    fill: white;
  }
  
  .card-dos-exc .title-dos-exc {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  .card-dos-exc .text-dos-exc {
    width: 80%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 200;
    letter-spacing: 2px;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;
  }
  
  .card-dos-exc:hover {
    height: 300px;
  }
  
  .card-dos-exc:hover .text-dos-exc {
    transition: all 0.3s ease;
    opacity: 1;
    max-height: 40px;
    margin-bottom: 60px;
  }
  
  .card-dos-exc:hover .icon-dos-exc {
    background-position: -120px;
    transition: all 0.3s ease;
  }
  
  .card-dos-exc:hover .icon-dos-exc svg path {
    fill: url('#gradientColor');
    transition: all 0.3s ease;
  }
  
  
    .container-Class{
      display: flex;
      justify-content: space-between; 
      margin-left: 60px;
      margin-right: 60px;
      margin-bottom: 100px;
    }
  
    .card-dos-exc {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: 250px;
    background-color: #292929;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
  
  .icon-dos-exc {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width: 80px;
    background: linear-gradient(90deg, #7eaaff 0%, #ff48fb 40%, rgba(0, 0, 0, 0.28) 60%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
  }
  
  .icon-dos-exc svg {
    fill: white;
  }
  
  .card-dos-exc .title-dos-exc {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  .card-dos-exc .text-dos-exc {
    width: 80%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 200;
    letter-spacing: 2px;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;
  }
  
  .card-dos-exc:hover {
    height: 300px;
  }
  
  .card-dos-exc:hover .text-dos-exc {
    transition: all 0.3s ease;
    opacity: 1;
    max-height: 40px;
  }
  
  .card-dos-exc:hover .icon-dos-exc {
    background-position: -120px;
    transition: all 0.3s ease;
  }
  
  .card-dos-exc:hover .icon-dos-exc svg path {
    fill: url('#gradientColor');
    transition: all 0.3s ease;
  }
  
  
    .container-Class{
      display: flex;
      justify-content: space-between; 
      margin-left: 60px;
      margin-right: 60px;
      margin-bottom: 100px;
    }
  
  
  
  
    .container-Class{
      display: flex;
      justify-content: space-between; 
      margin-left: 60px;
      margin-right: 60px;
      margin-bottom: 100px;
    }

    @media screen and (max-width: 768px) {
      .container-Class {
        flex-direction: column;
        align-items: center;
        
      }
    
    }
  