
.slider-container{
  margin: auto;
  width: 97%;
  background-color: grey;
}
.card {
    position: relative;
    height: 500px;
    overflow: hidden;

    
  }
  .card-image {
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease;  
  }
  
  .card:hover .card-image {
    transform: scale(1.2);
  }
  
  .card-description {
    position: absolute;
    bottom:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
.card:hover .card-description {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 10;
  }
.MovieTitle{
    font-size: 30px;
}
.MovieDescrip{
    font-size: 15px;
}

@media screen and (max-width: 768px) {
  .card-image {
    width:px;
    height: 100%;
    transition: transform 0.8s ease;  
  }
  .card {
    width: 33.33%;
    overflow: hidden
  }

  .slider-container{
    margin: auto;
    width: 250%;
    background-color: grey;
  }
}
  
  

  
  
  
  

 
  
 