:root{
    /* Colores proyecto */
    --Navbar:#79548e;
    --Boton:#641da3;
    --Hover:#5a189a;
}
body{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--Navbar);
}
img{
    margin: 8px 8px 8px 8px;
    width: 200px;
}
ul{
    margin-bottom: 10px;
    list-style: none;
    display: flex;
}
li{
    margin-right: 2em;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    border-radius: .5em;
    border-top: 5px outset #C77DFF;
    border-right: 7px outset #C77DFF;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color: white;
    text-decoration: none;
}
.nav-link:hover{
    background-color:grey;
}
.option{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .2em;
    border-radius: .5em;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
}
.option:hover{
    background-color:grey;
}
.shoping-car{
    margin: 0;
    margin-right:10px;
    width: 26px;
}
.count-navbar{
    font-size: 9px;
}
