@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');


  .title1{
    padding: 10px;
    background-color: #000000;
    border-top: 7px outset #C77DFF;
    border-right: 10px outset #C77DFF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color:grey;
    margin: 50px;
    border-radius: 60px;
  }

  .title2{
    padding: 10px;
    background-color: #000000;
    border-top: 7px outset #C77DFF;
    border-right: 10px outset #C77DFF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color:grey;
    margin: 50px;
    border-radius: 60px;
  }

  .div-four{
    height: 100vh;
  }
 
